
        <div class="col-5" id="chatOutput"></div>
        <div id="chatInput">
            
                <div class="col-4 px-0 small"><input class="form-control" type="text" id="chatMessage" placeholder="Alt-T to toggle..."/></div>
                <div class="col-1 px-0 small"><button class="form-control" id="chatSend">Send</button></div>
                <div class="col-1 px-0 small"><button class="form-control" id="chatSendCoordinates"><i class="fas fa-crosshairs    "></i></button></div>
                <div class="col-1 px-0 small"><button class="form-control" id="chatClose"><i class="fas fa-window-close"></i></button></div>
            
        </div>
