<div class="col">

    <div class="row">
        <div id="speech" class="col-12">{{speech}}</div>
    </div>
    <hr>
    {{#each responses}}
    <div class="row">
        <div id="{{@index}}" class="{{type}} response col-8">
            {{text}}
        </div>
    </div>
    {{/each}}

</div>