<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        {{>headerStuff fontAwesome=true jQuery=true bootStrap=true}}

    </head>
    <body>
        <header>
            {{>navbar mainActive="active"}}
        </header>
        <main>
            <div class="jumbotron">
                <h1 class="display-3">Norton's Adventure</h1>
                <p class="lead">Classic Plus</p>
                <hr class="my-2">
                <p>...</p>
                <p class="lead">
                    <a class="startGame btn btn-primary btn-lg" href="/scene/0" role="button">Start Level 0</a>
                </p>
            </div>
        </main>

    <script src="/cdn/threejs/build/three.js"></script>
    <script src="/cdn/threejs/examples/js/controls/PointerLockControls.js"></script>    
    <script src="/cdn/threejs/examples/js/libs/inflate.min.js"></script>
    <script src="/cdn/threejs/examples/js/loaders/FBXLoader.js"></script>
    </body>
    {{!-- <script src="/viewScripts/indexScripts.js"></script> --}}
    <script type="module">


        // Some character details will be provided, either new or restored game
        var props = 
        localStorage.getItem('gameProps')? 
        localStorage.getItem('gameProps'): 
        {
            heroName: 'Dave',
            level: 0,
            layouts: []
        }

        /** localStorage:
        localStorage will keep track of the character and his level layouts,
        since each time through the game will randomize the level layouts,
        and the character may need to backtrack to earlier scenes in his
        unique game. */
        
        import { Game } from '/game.js';
        import { Scene } from '/viewScripts/scene.js';

        /** When the user clicks START, it will instantiate the game and start.
        An empty layout for the given level will cause the layoutBuilder to
        generate a new layout for the scene. */


        Array.from(document.querySelectorAll('.startGame')).forEach(el => {
            el.addEventListener('click', e => {
                e.preventDefault();
                var game = new Game(props);
                game.start(); // currently just dumps objects to console
                var scene = new Scene(game.gameLayout);
                scene.init();
                scene.animate();
            })
        })
    </script>

</html>