<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        {{>headerStuff fontAwesome=true jQuery=true bootStrap=true handlebars=true}}

    </head>
    <body>
        <header>
            {{!-- {{>navbar mainActive="active"}} --}}
        </header>
        <main>
            <div class="jumbotron">
                <h2>{{ welcomeMessage }}<img width="100px" src="/public/favicon.ico" alt="Adventure"></h2>
                <p class="lead">Classic Plus</p>
                {{#if showLogin}}
                <hr class="my-2">
                <div id="loginForm">
                    <h4>Login: </h4>
                    <form action="/login" method="post">
                        <div class="col-5">
                            <div class="row">
                                <div class="col-4">
                                    <label for="username">Username:</label>
                                </div>
                                <div class="col-8">
                                    <input class="form-control" type="text" id="username" name="username" required>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-4">
                                    <label for="password">Password:</label>
                                </div>
                                <div class="col-8">
                                    <input class="form-control" type="password" name="password" id="password" required>
                                </div>
                            </div>  
                            <div>
                                <button type="submit" class="btn btn-primary my-2" value="Login">Submit</button>
                                <span id="alertText" class="text-primary pl-3">{{ alertText }}</span>
                            </div>
                        </div>
                    </form>
                    <div id="newUser"><small>New User?</small></div>
                </div>


                {{else}}
                    <span>Logins are disabled temporarily.</span>
                {{/if}}

                <div id="newUserRegistrationForm" class="d-none">
                    <h4>Registration:</h4>
                    <form action="/register" method="post">
                        <div class="col-5">
                            <div class="row">
                                <div class="col-4">
                                    <label for="username">Username:</label>
                                </div>
                                <div class="col-8">
                                    <input class="form-control" type="text" id="username" name="username" required>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">
                                    <label for="username">First name:</label>
                                </div>
                                <div class="col-8">
                                    <input class="form-control" type="text" id="firstname" name="firstname" required>
                                </div>
                            </div>                        
                            <div class="row">
                                <div class="col-4">
                                    <label for="username">Last name:</label>
                                </div>
                                <div class="col-8">
                                    <input class="form-control" type="text" id="surname" name="surname" required>
                                </div>
                            </div>  
                            <div class="row">
                                <div class="col-4">
                                    <label for="password">Password:</label>
                                </div>
                                <div class="col-8">
                                    <input class="form-control" type="password" name="password" id="password" required>
                                </div>
                            </div>  
                            <div>
                                <button type="submit" class="btn btn-primary my-2" value="Register">Submit</button>
                                <span id="alertText" class="text-primary pl-3">{{ alertText }}</span>
                            </div>
                        </div>
                    <div id="login"><small>Back</small></div>                
                    </form>

                </div>

            </div>
        </main>


    </body>

    <script>
        document.getElementById('newUser').addEventListener('click', (e) => {
            document.getElementById('loginForm').classList.add('d-none');
            document.getElementById('newUserRegistrationForm').classList.remove('d-none');
        });

        document.getElementById('login').addEventListener('click', (e) => {
            document.getElementById('loginForm').classList.remove('d-none');
            document.getElementById('newUserRegistrationForm').classList.add('d-none');
        });

    </script>

</html>