<!DOCTYPE html>
<html lang="en">
    <head>
        <title></title>
        {{>headerStuff fontAwesome=true jQuery=true bootStrap=true handlebars=true}}

    </head>
    <body>
        <header>
            {{>navbar mainActive="active"}}
        </header>
        <main>
            <div class="jumbotron">
                <h1 class="display-3">Adventure</h1>
                <p class="lead">Classic Plus</p>
                <hr class="my-2">
                <p>...</p>
                <p class="lead">
                    <a class="startGame btn btn-primary btn-lg" href="#" role="button">Start Game</a>
                    <a class="clearGame btn btn-danger btn-lg" href="#" role="button">Clear Game</a>
                </p>

            </div>
        </main>


    <script src="/cdn/threejs/build/three.js"></script>
    <script src="/public/pointerLockControls.js"></script>    
    <script src="/cdn/threejs/examples/js/libs/inflate.min.js"></script>
    <script src="/cdn/threejs/examples/js/libs/stats.min.js"></script>
    <script src="/cdn/threejs/examples/js/objects/Fire.js"></script>
    <script src="/cdn/threejs/examples/js/objects/Reflector.js"></script>
    <script src="/cdn/threejs/examples/js/objects/Refractor.js"></script>
    <script src="/cdn/threejs/examples/js/shaders/WaterRefractionShader.js"></script>
    <script src="/cdn/threejs/examples/js/objects/Water2.js"></script>
    <script src="/cdn/threejs/examples/js/loaders/GLTFLoader.js"></script>
    {{!-- <script src="/cdn/threejs/examples/js/loaders/FBXLoader.js"></script> --}}
    {{!-- <script src="/cdn/threejs/examples/js/loaders/OBJLoader.js"></script> --}}

    <!-- The Modal -->
    <div id="myModal" class="myModal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <h2 id="modal-title"></h2>
                <span class="close">&times;</span>
            </div>
            <div id="modal-body">
            </div>
            <div class="modal-footer">
                <h3></h3>
            </div>
        </div>

    </div>

    <div id="message"></div>
    <div id="statusUpdates"></div>
    <div id="minimap"></div>
    <div id="sidebar"></div>
    <div id="chatbar"></div>

    </body>
    <script type="module">

       import { app } from '/app.js'
       app();
        
    </script>

</html>