<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Scene {{level}}</title>
        <link id="favicon" rel="icon" href="/public/favicon.ico" type="image/x-icon">
        <link href="../public/style.css" rel="stylesheet">
    </head>
    <body>
        <script src="/cdn/threejs/build/three.js"></script>
        <script src="/cdn/threejs/examples/js/controls/PointerLockControls.js"></script>
        
        <!-- <script src="/cdn/threejs/examples/js/WebGL.js"></script>
        <script src="/cdn/threejs/examples/js/utils/GeometryUtils.js"></script>
        <script src="/cdn/threejs/examples/js/controls/OrbitControls.js"></script> -->

        <div id="info">Scene {{level}}</div>
        <script src="/viewScripts/scene.js"></script>        
    </body>
</html>