<!DOCTYPE html>
<html lang="en">
    <head>
        <title>NortonGame Scene</title>
        <meta charset="UTF-8">
        <title>My Scene</title>
        <link href="../css/style.css" rel="stylesheet">
    </head>
    <body>
        <script src="/cdn/threejs/build/three.js"></script>
        <script src="/cdn/threejs/examples/js/controls/PointerLockControls.js"></script>
        
        <!-- <script src="/cdn/threejs/examples/js/WebGL.js"></script>
        <script src="/cdn/threejs/examples/js/utils/GeometryUtils.js"></script>
        <script src="/cdn/threejs/examples/js/controls/OrbitControls.js"></script> -->
        <div id="info">Description</div>
        <script src="../viewScripts/threeScene.js"></script>        
    </body>
</html>